#print {
    position: fixed;
    top: 80px;
    right: 16px;
}


.flex {
    display: flex;

    img {
        width: 100%;
    }

    #question-list {
        padding-left: 15px;
        width: 55%;
        height: 200px;
        overflow: auto;
    }

    #image-list {
        width: 45%;
    }
}

main {
    @media print {
        padding-left: 0;
    }
}

// Print whitelist 
body {

    * {
        color-adjust: exact;
      }
      
    * {
    -webkit-print-color-adjust: exact;
    }

    @media screen {
        .input-field {
            p {
                display: none;
            }
        }
    }

    .input-field>label {
        color: dimgray;
    }

    @media print {

        #print {
            display: none;
        }

        color-adjust: exact;

        .center-align {
            text-align: center;
        }

        & > * {
            display: none;
        }

        & > main {
            display: block;

            #answer-list {
                overflow: visible;
            }

            .input-field {

                label {
                    display: none;
                }
    
                input {
                    display: none;
                }
    
                p {
                    width: 100%;
                    //overflow: hidden;
                    border: none;
                    border-bottom: 2px solid black;
                    color: darkgray;

                    &.correct {
                        color: black;
                    }

                    span {
                        padding-right: 10px;
                        color: black;
                    }
                }
            }
        }
    }
}

nav .sidenav-trigger {
    height: 64px;
    width: 64px;
    margin: 0;

    i.material-icons {
        font-size: 48px;
        padding-left: 12px;
        //padding-top: 8px;
        color: white;
    }
}

header, main {

    @media screen {
        padding-left: 300px;   
    }

    @media screen and (max-width: 992px) {
        padding-left: 0;
    }
}

.sidenav {
    h4 {
        margin: 0;
        line-height: 64px;
    }

    .collapsible-header {
        padding: 0 16px;
    }

    .collapsible-body {

        li {
            a {
                padding: 0 48px;
            }
        }
    }
}

nav {
    line-height: 64px;

    h1 {
        margin: 0;
        line-height: 64px;
        font-size: 2.4rem;
        text-align: center;
    }
}

.materialboxed {
    margin-top: 24px;
    border: 1px solid black;
}

.high-distance {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}

.medium-distance {
    border-bottom: 1px solid yellow !important;
    box-shadow: 0 1px 0 0 yellow !important;
}

.low-distance {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important;
}

.img-line-header {
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: -16px;
}